@{
    ViewBag.Title = "Home Page";
}

<div class="row">
   @* <h1>ASP.NET</h1>*@
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    <img src="~/Images/HOD.jpg" alt="Sample Photo"  style='height: 100%; width: 100%; object-fit: contain'/>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Acceso a los foros</h2>
        <p>
            Te permite ponerte en contacto con el soporte técnico y con otros jugadores..
        </p>
        
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Noticas</h2>
        <p>Consultas las noticias acerca de HOD, su últimas novedades y los futures eventos que están planificados.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Actualizacion Recientes</h2>
        <p>Conoce las últimas novedades que se han realizado en HOD y los cambios que se han aplicado.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>